.gameInviteForm {
    border: 1px solid black;
}   

.friendItem {
    flex-grow: 4;
    margin: 2.5%;
}

.removeFriendButton {
    flex-grow: 1;

} 

.friendContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -3px 5px #33332d;
    padding: 0.6rem 1rem;
    border: 3px solid #33332d;
    font-weight: 600;
} 

.gameForm {
    margin: auto;
    width: 50%;
    margin-top: 5%;
    border: 1px solid black;
}

.gameContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.playerb {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.errorFlash {
    color: red;
} 

.gameOptions {
    border: 1px solid black;
    width: 92px;
    height: 50px;
} 

.gameDetails {
    margin-bottom: 10px;
} 