<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">

{% extends "header.html" %}
{% block content %}

<form action="/create" method="POST" class="gameForm">
    Your hand:
    <p>
        <input type="radio" name="hand" value="ROCK"> Rock
        <input type="radio" name="hand" value="PAPER"> Paper
        <input type="radio" name="hand" value="SCISSORS"> Scissors
    <p>

        <input type="submit" value="Start game">
</form>


{% for game in games %}
<div class="gameContainer">
    <div class="playera">
        {{ game.player_a }}
    </div>
    <div class="gameStatusBox">
        <h2>Game status:</h2>
        {% if game.game_status %}
        <p>Result</p>
        <p>Winner:</p>
        
            {% if game.winner %}
                {{ game.winner }}
             {% else %}
                DRAW
            {% endif %}

        {% else %}
        <p>Ongoing game</p>
        {% endif %}
    </div>
    <div class="playerb">
        {% if not game.player_b %}
        <form action="/play/{{game.id}}" method="POST" class="playerb_form">
            Your hand:
            <p>
                <input type="radio" name="hand" value="ROCK"> Rock
                <input type="radio" name="hand" value="PAPER"> Paper
                <input type="radio" name="hand" value="SCISSORS"> Scissors
            <p>

                <input type="submit" value="Play game">
        </form>
        {% else %}
        {{ game.player_b }}
        {% endif %}

    </div>
</div>
{% endfor %}

{% endblock %}